Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libroman_numeral_calculator.la
src/main
src/main.o
src/roman_numeral_calculator.lo
src/roman_numeral_calculator.o
stamp-h1
test-driver
tests/.deps/
tests/.libs/
tests/Makefile
tests/Makefile.in
tests/check_roman_numeral_calculator
tests/check_roman_numeral_calculator-check_roman_numeral_calculator.o
tests/check_roman_numeral_calculator.log
tests/check_roman_numeral_calculator.trs
tests/test-suite.log
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
src/CMakeFiles/
src/cmake_install.cmake
src/libroman_numeral_calculator.a
tests/CMakeFiles/
tests/cmake_install.cmake
